body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

ign-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 300px;